.user-vector{
  position:absolute;

  top: 0px;
  left: 240px;
  height: 1080px;
  width: 1440px;
  z-index: 1000;
  opacity: 0;

  -webkit-transform-origin: 50% 100%;
  -webkit-transition: -webkit-transform 0.5s, opacity 0.5s, top 0.5s;

  .vector{
    position:absolute;
	 	top: 290px;
  	left: 350px;
  	height: 490px;
  	width: 640px;
    opacity:0.4;

    -webkit-transform: scale(2.1);

	}

}
