@font-face {
    font-family: 'din';
    src: url('/real-estate/font/din-light.otf');
}

@font-face {
    font-family: 'din';
    src: url('/real-estate/font/din-medium.otf');
    font-weight: bold;
}